

/* navbar */
#navbar .container {
  grid-template-columns: 1fr;
  height: 18vh;
  align-items: center;
}
#navbar ul,
#navbar .logo {
  justify-self: center;
  height: 9vh;
 align-self: center;

}

#navbar ul li {
  
  padding-top: 1.2rem;

}
section#quote {
  padding: 2rem;
}
section#quote p {
  font-size: 1.3rem;
}
section#videos {
  flex-direction: column;
  padding: 1rem;
}
section#image1 h1 {
  font-size: 300%;
}


/* image different for smartphone */
section#image1 {
  
  background-image: url(images/Image12.jpg);
 

}

/* about page */
section#about {
  grid-template-columns: 1fr;
}
/* training page */

section#imagetraining h1 {
  font-size: 2.5rem ;
}
/* contact page*/
#contact-form {
  grid-template-columns: 1fr;
}
#contact-form > *:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
/* clientele */
#home-articles .container .article-container {
  grid-template-columns: 1fr;

}
/* footer */
#main-footer .footer-container img {
  height: 7vh;
}
#main-footer {
  font-size: 1rem;
}


@media screen and (max-width: 600px) {
section#imagetraining h1 {
  font-size: 1.6rem ;
}
.option-container {
  grid-gap: 0rem;
}
div.options {
  color: #78909C;
  margin: 1rem;
}
.option-container > *:last-child {
  margin: 1rem;
}
#contact-form {
  margin: 1.1rem;
}
#main-footer .footer-container > *:first-child {
  display: none;
  visibility: hidden;
}
#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}
#navbar .container {
  
 
}
#navbar .container ul li:nth-child(4) {
  display: none;
}

#navbar ul,
#navbar .logo {
  

}
#navbar img.logo {
  margin-bottom: 0.5rem;
}

#navbar ul li a {
  
  


}
#navbar .logo {
  height: 8vh;
}

#navbar ul {
  font-size: 0.9rem;

}

#main-footer .footer-container input[type='submit'] {
  width: 93%;
}
section#tuto-page {
  font-size: 2rem;
}
section#image1 {
  
  background-image: url(images/Image123.jpg);
 

}
.items {
  display: grid;
  grid-template-columns: 1fr;
}


/* #video1, #video2, .video{
  display: none;
  visibility: hidden;
}
section#videos {
  background-image: ;
} */


/* hamburger menu  */




}

